<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<script type="text/javascript" src="../javascripts/jquery.js"></script>
	<script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>

	<meta charset="utf-8">

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<marquee direction="left"><h3 class="content-justify-center">AB UTNAL, 8722222996</h3></marquee>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<br>
				<div id="status_msg"></div>
				<div class="card border-light bg-light">
					<div class="card-body">
						<input type="hidden" id="admin_id" value={{admin_id}}>
					   <span style="font-size: 36px; text-align: left; font-weight: 400;">Welcome {{admin_name}}  </span>   <span style="font-size: 18px; text-align: right;"><a href="/logout" class="float-right mt-3" style="color:#333">Logout</a> </span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="container">
		<div class="row">
			<div class="col-md-9">
				<br>
				<div id="dataTable" class="mr-2"></div>
			</div>
			<div class="col-md-3">
				<br>
				<div id="mutualFriend" class=""></div>
			</div>
		</div>
	</div>

	
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../javascripts/admin.js"></script>

	
</body>
</html>